header,
footer {
    padding: 1;
    background-color:rgb(0, 0, 0);
    text-align: center;
    clear: middle;
    font-size: 35px;
    color: white;

}

.wrapper {
    display: list-item;
    
}

.wrapper > div {
    flex: 1;
    text-align: center;
}