header,
footer {
    padding: 1;
    background-color:rgb(0, 0, 0);
    text-align: center;
    clear: middle;
    font-size: 35px;
    color: white;

}

.wrapper {
    padding: 1;
    border-radius: 10px;
    width: 250px;
    display: list-item;
    text-align: center;
}

.wrapper > div {
    flex: 1;
    text-align: center;
}