header,
footer {
    padding: 1;
    background-color:rgb(181, 199, 108);
    text-align: center;
    clear: left;
    font-size: 35px;

}

.wrapper {
    display: list-item;
}

.wrapper > div {
    flex: 1;
    text-align: center;
}