* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 90%;
    margin: 0 auto;
    font-family: Arial;
    line-height: 1.6;
    background-color: #f4f4f9;
}
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}
nav#top-nav {
    background-color: #3498db;
    text-align: center;
    padding: 10px;
}

nav#top-nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav#top-nav a:hover {
    background-color: #2980b9;
}

nav#side-nav {
    float: left;
    width: 200px;
    background-color: #3498db;
    padding: 15px;
    margin-top: 0px;
}

nav#side-nav ul {
    list-style-type: none;
    padding: 0;
}

nav#side-nav li {
    margin-bottom: 10px;
}

nav#side-nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    background-color: #2980b9;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav#side-nav a:hover {
    background-color: #1f618d;
}
section {
    margin-left: 220px;
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 5px;
}
footer {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
    clear: both;
    margin-top: 20px;
}
